<div>
		<img class="coffee-img" src={{image}} alt={{name}} />
		<h2>{{name}}</h2>	
		<h3>{{rating}}</h3>
		<h3>Address: {{address}}</h3>
		<h3>Description: {{description}}</h3>
		<h3>{{comments}}</h3>


		<h3>Leave a comment:</h3>
		<form action="/coffeeshop/:id/comment" method="post">

			<label for="comment">
				Comment:
				<input type="text" name="comment">
			</label>

			<input type="submit" name="" value="Submit">
		</form>
</div>
