<link rel="stylesheet" href="/public/main.css">
<div>
	
		<img class="coffee-img" src={{image}} alt={{name}} />
		<h1>{{name}}</h1>	
		<h2>Rating {{rating}}</h2>
		<h3>Address: </h3> <p>{{address}}</p>
		<h3>Description:</h3> <p>{{description}}</p>
		<p>{{comments}}</p>


		<h3>Leave a comment:</h3>
		<form action="/coffeeshop/{{id}}/comment" method="post">

			<label for="comment">
				Comment:
				<input type="text" name="comment">
			</label>
			<input type="submit" name="" value="Submit">
		</form>
</div>
